@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #d1d1d1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1c1c1c;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

nav {
  border-bottom: 1px solid #eaeaea;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  place-items: center;
  text-align: center;
}

main {
  height: 100%;
}